<a href="https://colab.research.google.com/github/jyj1206/BDA_9th_Pandas/blob/main/1%EC%A3%BC%EC%B0%A8_%EC%B2%AB%EC%88%98%EC%97%85_%EC%98%A4%EB%A6%AC%EC%97%94%ED%85%8C%EC%9D%B4%EC%85%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [4]:
import pandas as pd
import seaborn as sns
from sqlalchemy import create_engine

# seaborn 타이타닉 데이터셋 불러오기
titanic = sns.load_dataset('titanic')

# SQLite 데이터베이스 연결 설정
engine = create_engine('sqlite:///titanic.db', echo=False)

# Dataframe을 SQL 테이블로 저장
titanic.to_sql('titanic_table', con=engine, index=False, if_exists='replace', method='multi')

# SQL 쿼리를 사용해 데이터 읽어오기
df_from_sql = pd.read_sql_query("SELECT * FROM titanic_table", con=engine)

# 읽어온 데이터 확인
df_from_sql.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,1,None,Southampton,no,0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,0,C,Cherbourg,yes,0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,0,None,Southampton,yes,1
3,1,1,female,35.0,1,0,53.1000,S,First,woman,0,C,Southampton,yes,0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,1,None,Southampton,no,1

## Pandas 기초문법

In [6]:
# 리스트를 만들기
df = ['사과', '딸기', '수박', '복사']

In [7]:
# 2차원 리스트 만들기
df_2 = [['사과'], ['딸기'], ['수박'], ['복숭아']]

In [8]:
df_2[0][0]

'사과'

In [9]:
df_2[1][0]

'딸기'

In [10]:
df_2[2][0]

'수박'

### 데이터프레임 구조 만들기

In [28]:
df_fruits = pd.DataFrame({
    '과일' : ['사과', '딸기', '수박', '복사'],
    '수량' : [10, 20, 30, 40],
    '가격' : [1000, 2000, 3000, 4000]
})

In [29]:
df_fruits

   과일  수량    가격
0  사과  10  1000
1  딸기  20  2000
2  수박  30  3000
3  복사  40  4000

In [30]:
type(df_2)

list

In [31]:
type(df_fruits)

pandas.core.frame.DataFrame

In [26]:
# 단순 인덱스 접근 불가
df_fruits[0][0]

KeyError: 0

In [35]:
type(df_fruits.iloc[0, 0])

str

In [36]:
# 패키지를 이용한 데이터 불러오기
import seaborn as sns
tt = sns.load_dataset('titanic')

In [37]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [39]:
# 데이터셋 불러오기
# test = pd.read_csv('test.csv')
# test

In [40]:
df_fruits[['과일', '수량']]

   과일  수량
0  사과  10
1  딸기  20
2  수박  30
3  복사  40

In [42]:
tt[['survived', 'sex', 'fare']]

     survived     sex     fare
0           0    male   7.2500
1           1  female  71.2833
2           1  female   7.9250
3           1  female  53.1000
4           0    male   8.0500
..        ...     ...      ...
886         0    male  13.0000
887         1  female  30.0000
888         0  female  23.4500
889         1    male  30.0000
890         0    male   7.7500

[891 rows x 3 columns]

In [45]:
# 데이터프레임 타입
df_fruits[['과일']]

   과일
0  사과
1  딸기
2  수박
3  복사

In [46]:
# 시리즈 타입
df_fruits['과일']

0    사과
1    딸기
2    수박
3    복사
Name: 과일, dtype: object

In [47]:
type(df_fruits[['과일']])

pandas.core.frame.DataFrame

In [49]:
type(df_fruits['과일'])

pandas.core.series.Series

In [50]:
# 데이터프레임은 계산 안됨
tt * 100

TypeError: unsupported operand type(s) for *: 'Categorical' and 'int'

In [51]:
tt['age'] * 100

0      2200.0
1      3800.0
2      2600.0
3      3500.0
4      3500.0
        ...
886    2700.0
887    1900.0
888       NaN
889    2600.0
890    3200.0
Name: age, Length: 891, dtype: float64

In [52]:
df_fruits

   과일  수량    가격
0  사과  10  1000
1  딸기  20  2000
2  수박  30  3000
3  복사  40  4000

In [56]:
# 반복문 데이터프레임 접근 (데이터 프레임 자체 -> 컬럼 출력)
for i in df_fruits:
  print(i)

과일
수량
가격

In [57]:
# 반복문 데이터프레임 접근 (특정 열의 값 -> 시리즈 -> 해당 열의 값)
for i in df_fruits['과일']:
  print(i)

사과
딸기
수박
복사

In [58]:
# 반복문 데이터프레임 접근 (데이터 프레임 여러 컬럼 -> 데이터프레임 -> 컬럼 출력)
for i in df_fruits[['과일', '수량']]:
  print(i)

과일
수량

## 데이터를 살펴보기

In [61]:
# 데이터프레임의 모든 정보
tt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [62]:
# 요약 통계치
tt.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [63]:
# 전체 컬럼 (수치형 타입말고도 전부)
tt.describe(include = 'all')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
count,891.000000,891.000000,891,714.000000,891.000000,891.000000,891.000000,889,891,891,891,203,889,891,891
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,3,3,3,2,7,3,2,2
top,NaN,NaN,male,NaN,NaN,NaN,NaN,S,Third,man,True,C,Southampton,no,True
freq,NaN,NaN,577,NaN,NaN,NaN,NaN,644,491,537,537,59,644,549,537
mean,0.383838,2.308642,NaN,29.699118,0.523008,0.381594,32.204208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.486592,0.836071,NaN,14.526497,1.102743,0.806057,49.693429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,1.000000,NaN,0.420000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000,2.000000,NaN,20.125000,0.000000,0.000000,7.910400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000,3.000000,NaN,28.000000,0.000000,0.000000,14.454200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.000000,3.000000,NaN,38.000000,1.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,512.329200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
# 행과 열 출력
tt.shape

(891, 15)

In [66]:
# 컬럼 출력
list(tt.columns)

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'class',
 'who',
 'adult_male',
 'deck',
 'embark_town',
 'alive',
 'alone']

In [67]:
## 타입 출력
tt.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [69]:
# 데이터프레임 앞에 5개 출력
tt.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [70]:
# 데이터프레임 뒤에 5개 출력
tt.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [71]:
# 데이터 조작하는 문법 (loc)
tt.loc[3]

survived                 1
pclass                   1
sex                 female
age                   35.0
sibsp                    1
parch                    0
fare                  53.1
embarked                 S
class                First
who                  woman
adult_male           False
deck                     C
embark_town    Southampton
alive                  yes
alone                False
Name: 3, dtype: object

In [74]:
# 데이터 조작하는 문법 (iloc)
tt.iloc[890]

survived                0
pclass                  3
sex                  male
age                  32.0
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 890, dtype: object

In [75]:
# 행과 열로 접근
tt['fare'][890]

7.75

In [76]:
# loc 슬라이싱
tt.loc[:30:2]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
18,0,3,female,31.0,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
22,1,3,female,15.0,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
24,0,3,female,8.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
30,0,1,male,40.0,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True

In [77]:
# 특정 행 평균 값
tt['fare'].mean()

32.204207968574636

In [81]:
# 특정 행에서 평균 값보다 더 큰 값 출력
for i in tt['fare']:
  if i > tt['fare'].mean():
    print(i)

71.2833
53.1
51.8625
35.5
263.0
146.5208
82.1708
52.0
41.5792
39.6875
76.7292
61.9792
35.5
46.9
80.0
83.475
46.9
73.5
56.4958
47.1
34.375
263.0
61.175
34.6542
63.3583
77.2875
52.0
247.5208
73.5
77.2875
53.1
79.2
36.75
34.375
66.6
61.3792
69.55
39.6875
55.0
56.4958
33.5
69.55
39.0
50.0
146.5208
69.55
113.275
76.2917
90.0
83.475
90.0
52.5542
79.2
86.5
512.3292
79.65
39.6875
153.4625
135.6333
77.9583
78.85
91.0792
151.55
247.5208
151.55
110.8833
108.9
56.9292
83.1583
262.375
164.8667
134.5
69.55
135.6333
57.9792
153.4625
133.65
66.6
134.5
35.5
263.0
35.0
55.0
75.25
69.3
55.4417
135.6333
82.1708
211.5
227.525
52.0
73.5
46.9
120.0
113.275
90.0
32.5
55.9
120.0
34.375
263.0
81.8583
89.1042
51.8625
38.5
52.0
46.9
91.0792
90.0
49.5042
78.2667
151.55
86.5
108.9
56.4958
59.4
34.0208
93.5
57.9792
221.7792
106.425
49.5
71.0
106.425
36.75
110.8833
39.6
227.525
79.65
51.4792
55.9
110.8833
40.125
79.65
79.2
78.2667
33.0
56.9292
42.4
41.5792
153.4625
65.0
39.0
52.5542
32.3208
77.9583
39.6875
69.3
56.4958
76.7292
35.5
73.5
113.275
133.65
73.5
52.0
39.0
52.0
46.9
512.3292
76.7292
46.9
39.0
41.5792
39.6875
211.3375
57.0
56.4958
110.8833
227.525
151.55
49.5042
52.0
227.525
33.0
53.1
211.3375
34.375
512.3292
78.85
262.375
71.0
53.1
65.0
86.5
120.0
77.9583
39.6
211.3375
57.0
79.2
69.55
120.0
53.1
37.0042
93.5
39.6875
56.4958
37.0042
80.0
83.1583
56.4958
69.55
33.0
89.1042
39.4
164.8667
69.55
50.4958
52.5542
83.1583